page-recipes {
  font-family: Roboto;

  .thumbnail {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  .name {
    text-transform: uppercase;
  }
  .description {
    //margin-top: 5%;
  }

  .tag {
    //color: #fff;
    text-decoration: underline;
  }
}
