page-product-detail {
  font-family: Roboto;

  .name{
    text-transform: capitalize;
  }
  .category{
    font-style: italic;
  }

  .point {
    color: red;
    float: left;
  }
  .location{
    text-transform: capitalize;
    margin-left: 15px;
  }
  .like {
    color: yellow;
    float: left;

  }
  .price {
    color: green;
    position: relative;
    float: left;
  }

  .tag{
    color: #007aff;
  }

}
