add-product-to-fridge {

  background: rgba(0,0,0,0.5);
  .my_modal{
    background: white;
    padding: 10px;
    padding-top: 50px;
    position:  absolute;
    top: 20%;
    left: 5%;
    display: block;
    width: 90%;
    height: 50%;
  }


}
