<!-- Generated template for the AddFoodComponent component -->
<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchText" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!food">
    <ion-item *ngFor="let food of foods" (click)="selectFood(food)">
      {{food.name}}
      <ion-note item-end> {{food.unit | unit}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="createFood()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

