page-products {
  font-family: Roboto;

  .name {
    text-transform: uppercase;
  }
  .description {
    margin-top: 5%;
  }
  #search{
    //background-color: #F62459;
    background-color: #2893FF;
  }


}
